.food_img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.restaurant_img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ratings_div {
  top: 0px;
  margin-bottom: 0px;
  background: red;
  padding: 5px;
  right: 5px;
}

.checkbox_div {
}

.address {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
