.input_tag {
  height: 40px;
  width: 100%;
  border: 1px solid #f3f3f3;
  border-radius: 0px;
  margin: 5px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px 5px;
  outline: none;
}
