.footer_div {
  background: #eae7e2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header_logo {
  height: 70px;
  width: 70px;
}
.links_div a {
  margin: 0px 10px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #c19149;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
